* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
img {vertical-align: top;}
body {
    color: #fff;
    transition: color 0.5s ease-in-out;
}
.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5s linear;
}
.container {
    width: 1200px;
    margin: 0 auto;
}
button {
    cursor: pointer;
}
.main {
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translateX(-50%);
}
/* .main .clicked{
    color: #3498db;
} */
.main .form,
.main .greetings {
    display: none;
}
.main .showing {
    display: block;
}
@keyframes fadeIn {
    from{
        opacity: 0;
    }to{
        opacity: 1;
    }
}

/* style */
.main .js-clock h2 {
    font-size: 120px;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.main input {
    width: 400px;
    height: 80px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: transparent;
    outline: none;
    border: none;
    border-bottom: 2px solid #fff;
    color: #fff;
    font-size: 40px;
}
.main input::placeholder {
    color: #fff;
    font-style: italic;
    opacity: 0.7;
  }
.js-toDoForm input {
    top: 230px;
}
.js-greetings {
    position: absolute;
    left:40px;
    bottom: -70px;
    font-size: 30px;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}
.js-toDoList {
    position: absolute;
    left: 60px;
    bottom: -220px
}
.js-toDoList li {
    border-bottom: 1px solid #fff;
}
.js-toDoList li button {
    position: absolute;
    right: -50px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    outline: none;
    border: none;
}